annotated-types==0.7.0 ; python_version == "3.12"
anyio==4.12.1 ; python_version == "3.12"
click==8.1.8 ; python_version == "3.12"
colorama==0.4.6 ; (platform_system == "Windows" or sys_platform == "win32") and python_version == "3.12"
fastapi==0.112.4 ; python_version == "3.12"
h11==0.16.0 ; python_version == "3.12"
httptools==0.7.1 ; python_version == "3.12"
idna==3.11 ; python_version == "3.12"
joblib==1.5.3 ; python_version == "3.12"
markdown-it-py==4.0.0 ; python_version == "3.12"
mdurl==0.1.2 ; python_version == "3.12"
numpy==2.4.2 ; python_version == "3.12"
pandas==2.3.3 ; python_version == "3.12"
prometheus-client==0.20.0 ; python_version == "3.12"
pydantic-core==2.41.5 ; python_version == "3.12"
pydantic-settings==2.12.0 ; python_version == "3.12"
pydantic==2.12.5 ; python_version == "3.12"
pygments==2.19.2 ; python_version == "3.12"
python-dateutil==2.9.0.post0 ; python_version == "3.12"
python-dotenv==1.2.1 ; python_version == "3.12"
pytz==2025.2 ; python_version == "3.12"
pyyaml==6.0.3 ; python_version == "3.12"
rich==13.9.4 ; python_version == "3.12"
scikit-learn==1.8.0 ; python_version == "3.12"
scipy==1.17.0 ; python_version == "3.12"
shellingham==1.5.4 ; python_version == "3.12"
six==1.17.0 ; python_version == "3.12"
starlette==0.38.6 ; python_version == "3.12"
threadpoolctl==3.6.0 ; python_version == "3.12"
typer==0.12.5 ; python_version == "3.12"
typing-extensions==4.15.0 ; python_version == "3.12"
typing-inspection==0.4.2 ; python_version == "3.12"
tzdata==2025.3 ; python_version == "3.12"
uvicorn==0.30.6 ; python_version == "3.12"
uvloop==0.22.1 ; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy" and python_version == "3.12"
watchfiles==1.1.1 ; python_version == "3.12"
websockets==16.0 ; python_version == "3.12"
